<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-==uiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Veterinary::Addresses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        .pagination a.active {
          background-color: #4CAF50;
          color: white;
        }
        .center {
          text-align: center;
        }
        .pagination a:hover:not(.active) {
        background-color: #ddd;}
    </style>
</head>

<body>

<div th:replace="fragments :: header"></div>

<div class="container">
    <div class="row text-center">
        <h1 style="margin-bottom:30px;margin-top:5%">Addresses</h1>
    </div>

    <div class="row">
        <div class="col-lg-3" style="margin-bottom:15px">
            <a th:href="@{/{version}/address/create-address (version = ${@environment.getProperty('api.version') } ) }"
               methods="GET" class="btn btn-primary"> Create Address</a>
        </div>
    </div>

    <table class="table table-hover table-striped table-bordered ">
        <thead class="table-light">
        <tr class="text-center">

            <div th:replace="fragments :: column-title(columnName = Country, routeName = address)"></div>
            <div th:replace="fragments :: column-title(columnName = City, routeName = address)"></div>
            <div th:replace="fragments :: column-title(columnName = Street, routeName = address)"></div>
            <th>Building Number</th>
            <th>Apartment Number</th>
            <div th:replace="fragments :: column-title(columnName = ZipCode, routeName = address)"></div>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="address: ${page.getContent()}">
            <td th:text="${address.country}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.buildingNumber}"></td>
            <td th:text="${address.apartmentNumber}"></td>
            <td th:text="${address.zipCode}"></td>
            <td style="max-width:100%;white-space:nowrap;">
                <a class="btn btn-primary"
                   th:href="@{/{version}/address/update-address/{id} (id=${address.id},
                   version = ${@environment.getProperty('api.version') },p = ${page.getNumber()})}"
                   style="margin-right:15px">Edit</a>

                <a class="btn btn-primary"
                   th:href="@{/{version}/address/add-address/{id} (
                   id=${address.id},
                   version = ${@environment.getProperty('api.version') },
                   p = ${page.getNumber()})}"
                   style="margin-right:15px">Add Address</a>

                <a class="btn btn-danger"
                   th:href="@{/{version}/address/remove-address/{id} (
                   id=${address.id},
                    version = ${@environment.getProperty('api.version') },
                    p = ${page.getNumber()},
                    q = ${query})}"
                   style="margin-left:15px">Remove Address</a>

                <a class="btn btn-danger"
                   th:href="@{/{version}/address/delete-address/{id} (
                   id=${address.id},
                   version = ${@environment.getProperty('api.version') },
                   p = ${page.getNumber()},
                    q=${query})}"
                   style="margin-left:15px">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>

    <!-- pagination -->
    <div th:replace="fragments :: .pagination(routeName = 'address')">Pagination</div>

</div>
</body>
</html>