<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>

<body>

<!--pagination-->
<div th:fragment="pagination(routeName)" th:remove="tag">
    <nav aria-label="Pagination" th:if="${page.getTotalPages() > 0}">
        <ul class="pagination justify-content-center font-weight-medium">
            <li class="page-item" th:classappend="${page.getNumber() == 0} ? 'disabled'">
                <a class="page-link svg-icon"
                   th:href="@{/{version}/{route}/(p =  ${page.getNumber()  } ,
                       version = ${@environment.getProperty('api.version') } , q = ${query} , route = ${routeName},
                       f = ${sortField}, t = ${sortType}) }"
                   aria-label="Previous"
                   title="Previous Page" rel="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link svg-icon" th:href="@{/{version}/{route}(p = 1,
                       version = ${@environment.getProperty('api.version') } , q = ${query} ,route = ${routeName},
                       f = ${sortField}, t = ${sortType}) }"
                   style="font-weight:bold">
                    First
                </a>
            </li>

            <div th:if="${page.getNumber() > 0}">
                <div th:replace="fragments :: three-dots"></div>
            </div>

            <li class="page-item" th:if="${page.getTotalPages() > 1}"
                th:classappend="${i == page.getNumber()  + 1 } ? 'active'"
                th:each="i : ${#numbers.sequence( (page.getTotalPages() - 9 < page.getNumber()
                    && page.getTotalPages() > 9)
                    ? page.getTotalPages() - 8
                    : page.getNumber()  + 1,

                    page.getTotalPages() > 9 + page.getNumber()
                    ? page.getNumber() + 9
                    : page.getTotalPages() )}">
                <a class="page-link" th:href="@{/{version}/{route}(p = ${i} ,
                         version = ${@environment.getProperty('api.version') } , q = ${query} , route = ${routeName},
                         f = ${sortField}, t = ${sortType}) }"
                   th:text="${i}"
                   th:title="${'Page '+ i}"
                   rel="tooltip"></a>
            </li>

            <div th:if="${page.getTotalPages() - page.getNumber() > 9 }">
                <div th:replace="fragments :: three-dots"></div>
            </div>

            <li class="page-item">
                <a class="page-link svg-icon" th:href="@{/{version}/{route}(p = ${page.getTotalPages() } ,
                       version = ${@environment.getProperty('api.version') }, q = ${query} ,route = ${routeName},
                       f = ${sortField}, t = ${sortType}) }"
                   style="font-weight:bold">
                    Last
                </a>
            </li>
            <li class="page-item" th:classappend="${page.getNumber() + 1 == page.getTotalPages()} ? 'disabled'">
                <a class="page-link svg-icon" th:href="@{/{version}/{route}(p = ${page.getNumber() + 2},
                       version = ${@environment.getProperty('api.version') } , q = ${query} ,
                        f = ${sortField}, t = ${sortType} ,route = ${routeName}) }"
                   aria-label="Next"
                   title="Next Page" rel="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>

        </ul>
    </nav>
</div>

<!--    up arrow-->
<div th:fragment="arrow_up" th:remove="tag">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708
                0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
    </svg>
</div>

<!--    down arrow-->
<div th:fragment="arrow_down" th:remove="tag">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down"
         viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708
        0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
    </svg>
</div>

<!--    three dots -->
<div th:fragment="three-dots">
    <li class="page-item disabled">
        <a class="page-link svg-icon" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-three-dots">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5
                            0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
        </a>
    </li>
</div>

<!--    search bar  -->
<div th:fragment="search-bar">
    <form class="d-flex" style="margin-right:5%">
        <input class="form-control me-2" type="hidden" th:name="p" th:value="1" placeholder="Page"
               aria-label="Page">

        <input class="form-control me-2" type="search" th:name="q" placeholder="Search For Anything..."
               aria-label="Search">

        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<!--log out  button-->
<div th:fragment="log-out" sec:authorize="isAuthenticated()">
    <form class="navbar-form"
          th:action="@{/{version}/logout (version = ${@environment.getProperty('api.version')})}"
          method="POST">
        <button class="btn btn-danger" style="font-size:20px" type="submit">Log Out
            <i class="fa fa-sign-out" style="color:white;font-size:20px" aria-hidden="true"></i>
        </button>

    </form>
</div>

<!-- header -->
<div th:fragment="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="" style="margin-left:2%;margin-right:50px">Veterinary App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page"
                           th:href="@{/{version}/pet (version = ${@environment.getProperty('api.version') },
                        p = 1,q = '')}"
                           style="margin-right:50px">Pets</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page"
                           th:href="@{/{version}/owner (version = ${@environment.getProperty('api.version') },
                        p = 1, q = '')}"
                           style="margin-right:50px">Owners</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                           th:href="@{/{version}/address (version = ${@environment.getProperty('api.version') },
                        p = 1, q = '' )}"
                           style="margin-right:50px">Addresses</a>
                    </li>

                </ul>

                <div th:replace="fragments :: search-bar"></div>

                <div sec:authorize="isAuthenticated()" style="margin-right:5%">
                    <div class="form-group">
                        <label style="color:cyan"><span sec:authentication="name">Username</span></label>
                    </div>
                </div>

                <div th:replace="fragments :: log-out"></div>

            </div>
        </div>
    </nav>
</div>

<div th:fragment="column-title(columnName, routeName)">

    <th>
        <a th:href="@{/{version}/{route} (version = ${@environment.getProperty('api.version') } ,
                q = ${query}, p = ${page.getNumber() + 1}, route = ${routeName},
                f = ${#strings.unCapitalize(columnName)}, t = ${sortType == 3 ? 1 : sortType + 1} ) }"
           th:text="${columnName }">

        </a>
        <div th:replace=" ${sortType == 1 &&
            #strings.unCapitalize(columnName)  == sortField} ? ~{fragments :: arrow_down} : ~{}"></div>

        <div th:replace=" ${sortType == 2  &&
           #strings.unCapitalize(columnName) == sortField} ? ~{fragments :: arrow_up} : ~{}"></div>
    </th>
</div>


</body>
</html>